<%- include('../layouts/header') %>
<section id="userProfile">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="user-info text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" class="img-thumbnail">
                    <h3>John Doe</h3>
                    <p>email@email.com</p>
                </div>
                <div class="interests-tag">
                    <div class="interest">
                        <a href="/destination/category/Nature"><i class="fa fa-pagelines" aria-hidden="true"></i> Nature</a>
                    </div>
                    <div class="interest">
                        <a href="/destination/category/Cathedral"><i class="fa fa-pagelines" aria-hidden="true"></i> Cathedral</a>
                    </div>
                    <div class="interest">
                        <a href="Park"><i class="fa fa-pagelines" aria-hidden="true"></i> Park</a>
                    </div>
                    <div class="interest">
                        <a href="Museum"><i class="fa fa-pagelines" aria-hidden="true"></i> Museum</a>
                    </div>
                </div>
                <a href="#" class="btn btn-default"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Payment Methods</a>
                <a href="#" class="btn btn-default"><i class="fa fa-money" aria-hidden="true"></i> Save Money For Future Trip</a>
                <a href="#" class="btn btn-default"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Profile</a>
            </div>
            <div class="col-md-8">
                <div class="random-quote">
                    <p><i class="fa fa-quote-left" aria-hidden="true"></i> The journey of a thousand miles begins with a single step.Once a year, go someplace you’ve never been before.Work, Travel, Save, Repeat. <i class="fa fa-quote-right" aria-hidden="true"></i></p>
                </div>
                <div class="trip-info text-center">
                    <div class="trip">
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <h5>Next trip milestone <span class="milestone">20%</span></h5>
                        <h5>€ 30</h5>
                    </div>
                    <div class="trip">
                        <i class="fa fa-plane" aria-hidden="true"></i>
                        <h5>Trip Completed</h5>
                        <h5>10</h5>
                    </div>
                    <div class="trip">
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        <h5>Wishlist</h5>
                        <h5>5</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../layouts/footer') %>